<div class="mb-3">
  <a [routerLink]="'/'"><i class="pi pi-chevron-left"></i> Go back to Dashboard</a>
</div>
<h1 class="text-6xl font-bold mb-6">{{ title() }}</h1>

<div>
  <div class="mb-6">
    <p-panel>
      <app-month-transactions-chart [monthBalance]="monthBalance()" />
    </p-panel>
  </div>
  <div class="grid grid-cols-3 gap-5">
    <p-panel class="col-span-2">
      <app-transactions-list [transactions]="transactions()" />
    </p-panel>
    <p-panel class="col-span-1">

    </p-panel>
  </div>
</div>
