<p-table [value]="monthsGrid()" selectionMode="single">
  <ng-template #header>
    <tr>
      <th></th>
      <th class="w-80">Incomes vs Expenses</th>
      <th class="w-80 text-end">Balance</th>
      <th class="w-80 text-end">Transactions</th>
    </tr>
  </ng-template>
  <ng-template #body let-month>
    <tr class="cursor-pointer" (click)="goToMonthOverview(month)">
      <td><span class="text-lg font-semibold mr-2">{{ monthNames[month.month] | titlecase }}</span> <i class="pi pi-angle-right"></i></td>
      <td>
        <div>
          <i class="pi pi-caret-up text-green-600 mr-2"></i> <span class="text-green-600">+{{ month.monthIncomes | currency }}</span>
        </div>
        <div>
          <i class="pi pi-caret-down text-red-600 mr-2"></i> <span class="text-red-600">-{{ month.monthExpenses | currency }}</span>
        </div>
      </td>
      <td class="text-end"><i class="pi pi-caret-up text-green-600 mr-2"></i> <span class="text-green-600 font-semibold">+{{ month.monthBalance | currency }}</span></td>
      <td class="text-right">
        <div class="flex justify-end overflow-hidden">
          <p-chart type="line" [data]="month.chartData" [options]="month.chartOptions" class="h-[3rem] flex" />
        </div>
      </td>
    </tr>
  </ng-template>
</p-table>
